<a href="#/material/{{material.id}}"> Back </a>
<br/>
Name of material: <input type="text" name="acName" ng-model="materialName" required/>
<br/>
URI:  <input type="text" name="materialURI" ng-model="materialURI" required/>
<br/>
Type:  <input type="text" name="materialType" ng-model="materialType" required/>
<br/>
Date: <input type="date" name="materialDate" ng-model="materialDate" required/>
<br/>
Owner user Name: <input type="text" name="Material Owner ID" ng-model="materialOwnerID" required />
<br/>
<button ng-click="addMaterail()">Add Materail!</button>

{{messagePrint}}