<!-- enco was here -->

<div class="container" >


    <div class="row" >

        

        <!--CONTENT-->
        <div class="col-md-10" role="main" style="top: 75px;">
            <!--path-->
            <div class="row">
                <ol class="breadcrumb">
                    <li ng-repeat="location in activity.path"><a href="#/activity/{{location.idActivity}}">{{location.Name}}</a></li>
                </ol>
            </div>


            <div class="row">
                <div class="jumbotron">

                    <h1>{{activity.name}}</h1>
                    <img class="img-responsive" ng-src="{{activity.cover}}"  alt="{{activity.cover}}">
                    <p>
                        {{activity.description}}
                    </p>
                    <p>Nastalo: {{activity.date}}</p>
                    <p>
                        <a class="btn btn-primary btn-large" ng-click="enroll()">{{enrollButtonName}}</a> 
                        <a class="btn btn-success btn-large" href="#/activity/new/{{activity.id}}" ng-if="is_holder == 1">Dodaj kurs</a> 
						<a class="btn btn-info btn-large" href="#/activity/modify/{{activity.id}}" ng-if="is_holder == 1">Promeni kurs</a> 
						<a class="btn btn-danger btn-large" ng-click="deleteActivity()" ng-if="is_holder == 1">Obriši kurs</a> 
					   <a class="btn btn-info btn-large" href="#/event/new/{{activity.name}}/{{activity.id}}" ng-if="is_holder == 1"> Dodaj Event! </a>
                    </p>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-lg-4" ng-repeat="son in activity.sons">
                    <div class="thumbnail">
                        <img ng-src="{{son.cover}}" alt="{{son.cover}}">
                        <div class="caption">
                            <a  href="#/activity/{{son.idActivity}}"><h4>{{son.Name}}</h4></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
	            <ul class="list-group" ng-if="hasEvents == 1">
				  <li class="list-group-item" ng-repeat="event in activity.events" ><a href="#/event/{{event.idEvent}}"> {{event.Name}} </a></li>
				</ul>
				<p class="alert alert-warning" ng-if="hasEvents == 0"> Activity nema evente </p>
            </div>

        </div><!--content-->

        <div class="col-md-2" style="top: 75px;">
            <ul class="nav nav-pills nav-stacked" ng-if="showString == 0"> <h4>Učesnici kursa</h4>
                <li ng-repeat="participant in activity.participants">
                    <a href="#/user/{{participant.user_id}}"> {{participant.Name}} {{participant.Surname}} </a></li>
            </ul>
        </div>


    </div><!--row-->
</div><!--container-->