Ime: <input type="text" ng-model="event.Name" />
<br/>
Opis: <textarea cols="30" rows="10" ng-model="event.Description"></textarea>
<br/>
Mesto: <input type="text" ng-model="event.Venue"/>
<br/>
Datum: <input type="datetime" ng-model="event.Date"/>
<br/>
Vreme: <input type="text" ng-model="event.Time"/>
<!--http://jdewit.github.io/bootstrap-timepicker/ pa se ti zajebavaj sa inputom xD  -->
<br/>
Dodaj holdera:
<input type="text" ng-model="holderSearch"/>
        <ul>
           <li ng-repeat="user in nonholders | filter: holderSearch">
               <a href="#/user/{{user.user_id}}"> {{user.nameu}} </a>
               <a class="btn btn-success btn-mini" ng-click="addHolder(user.user_id)" >Add</a> </li>
        </ul>