<a class="btn btn-info btn-large" href="#/event/modify/{{id}}" >Promeni Event</a>
<!--ng-if="is_holder == 1"-->
<br/>
Ime: {{event.Name}}
<br/>
Opis:    {{event.Description}}
<br/>
Mesto: {{event.Venue}}
<br/>
Datum: {{event.Date}}
<br/>
Vreme: {{event.Time}}
<br/>
<button ng-if="event.is_holder" ng-click="deleteEvent()">{{deleteEventButton}}</button><br/>
Event Holderi:
<br/>
<ul>
    <li ng-repeat="holder in event.holders"><a href="#/user/{{holder.user_id}}"> {{holder.Name}} {{holder.Surname}} </a></li>
</ul>
<br/>
Roditelji event-a:
<ul>
    <li ng-repeat="parent in event.parents"><a href="#/activity/{{parent.idActivity}}"> {{parent.Name}} </a></li>
</ul>
<br/>
Materijali
        <ul>
            <li ng-repeat="material in event.materials"><a href="#/material/{{material.idMaterial}}"> {{material.Name}} </a> </li>
        </ul>