<h1>{{nameOfActivity}}</h1>
Tip Eventa: <br/>
<select ng-model="choiseNew" ng-options="item.Name for item in choises ">
</select>

<br/>
<br/>
<div ng-if="choiseNew.Value == true">
    <p > Ime </p>
    <input type="text"  value="ime novog eventa" />
    <br/>
    <p > Opis </p>
    <textarea name="acDesc" id="acDesc" cols="30" rows="10" ng-model="activityDescription" required></textarea>
    <br/>
    <p > Mesto odrzavanja </p>
    <input type="text"  value="Mesto odrzavanja" />
    <br/>
    <p > Date </p>
    <input type="date"  />
    <br/>
    <p ng-if="choiseNew.Value == true"> Time </p>
    <input type="text"  />
    <br/>
    <a class="btn btn-success btn-large" > Dodaj </a>
</div>
<div ng-if="choiseNew.Value == false">
    <h2>{{loading}}</h2>
    <ul>
        <li ng-repeat="event in eventsShort">
            <a href="#/event/{{event.idActivity}}">{{event.name}}</a>
            <a class="btn btn-success btn-large" ng-click="add(event.idEvent, idActivity)" ng-if="event.isMember == 0"> Dodaj </a>
            <a class="btn btn-danger btn-large" ng-click="removeEvent(event.idEvent, idActivity)" ng-if="event.isMember == 1"> Ukloni </a>
        </li>
    </ul>
    {{selected}}
</div>
<br/>