Ime: {{event.Name}}
<br/>
Opis:    {{event.Description}}
<br/>
Mesto: {{event.Venue}}
<br/>
Datum: {{event.Date}}
<br/>
Vreme: {{event.Time}}
<br/>
<button ng-if="event.is_holder" ng-click="deleteEvent()">{{deleteEventButton}}</button><br/>
Event Holderi:
<br/>
<ul>
    <li ng-repeat="holder in event.holders"><a href="#/user/{{holder.user_id}}"> {{holder.Name}} {{holder.Surname}} </a></li>
</ul>
<br/>
Roditelji event-a:
<ul>
    <li ng-repeat="parent in event.parents"><a href="#/activity/{{parent.idActivity}}"> {{parent.Name}} </a></li>
</ul>