<a href="#/material/{{material.id}}"> Back </a>
<br/>
Name of material: <input type="text" name="acName" ng-model="materialName" required/>
<br/>
URI:  <input type="text" name="materialURI" ng-model="materialURI" required/>
<br/>
Type:  <input type="text" name="materialType" ng-model="materialType" required/>
<br/>
Date: <input type="date" name="materialDate" ng-model="materialDate" required/>
<br/>
Owner: {{user.Name}} + {{user.Surname}}
<br/>
{{user.userName}}

<button ng-click="addNew()">Add Material!</button>
<!--<a href="#/material/{{material.material_id}}"> Display Material {{material.name}} </a>
<a href="#/material/modify/{{material.material_id}}">  Modify {{material.name}} </a>-->

{{messagePrint}}