<h1>Hello user!</h1>
<div></div>
<div ng-if="globalUID == id" >
    <h1> Ovo JESAM ja! xD</h1>
</div>
<div ng-if="globalUID != id" >
    <h1> Ovo NISAM ja! xD</h1>
</div>
<div ng-if="globalAccType == 99" >
    <h1> Ja sam svemocni admin</h1>
</div>
<script type="text/javascript">
    console.log(globalAccType);
</script>

<br/>
Ime: {{userdata.name}}
<br/>
Prezime: {{userdata.surname}}
<br/>
Korisničko ime: {{userdata.username}}
<br/>
email: {{userdata.Mail}}
<br/>
Prezime: {{userdata.School}}
<br/>
Korisničko ime: {{userdata.Proffession}}
<br/>
Korisničko ime: {{userdata.www}}
<br/>
<img src="{{user.ProfilePicture}}" alt="nema slike"/>

<a ng-if="canEdit == 1" href="#/user/settings/{{id}}"><button ng-if="canEdit == 1">Edit settings</button></a>

