<a href="#/activity/{{activity.id}}"> Back </a>
<br/>
Name of activity: <input type="text" name="acName" ng-model="activityName" required/>
<br/>
Description
<br/>
<textarea name="acDesc" id="acDesc" cols="30" rows="10" ng-model="activityDescription" required></textarea>
<br/>
<br/>
Date: <input type="date" name="acDate" ng-model="activityDate" required/>
<br/>
<!-- > Ovo ovde obrati paznju jer prima samo url sa http://blabla
Ovde sprečiti unos nečega što nije link ka sliku. Prvobitno je stajalo url za type
Ovo će vrv trebati da se piše JS funkcija
 </!-->
Cover: <input type="text" name="acCover" ng-model="activityCover" required />
<br/>
<button ng-click="addActivity()">Add Activity!</button>

{{messagePrint}}