<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header">
				<h2>{{event.Name}}</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<!--ng-if="is_holder == 1"-->

			

			<ul class="list-inline"> Čas se nalazi u kursevima:
				<li ng-repeat="parent in event.parents"><a href="#/activity/{{parent.idActivity}}"> {{parent.Name}} </a></li>
			</ul>
			<label>Opis:</label> 
			<div class="well well-sm">{{event.Description}}</div>
			
			<label>Mesto:</label> 
			<div class="well well-sm">{{event.Venue}}</div>
			<div class="col-md-6">
			<label>Datum:</label> 
			<div class="well well-sm ">{{event.Date}}</div>
			</div>
			<div class="col-md-6">
			<label>Vreme:</label> 
			<div class="well well-sm ">{{event.Time}}</div>
			</div>



			<a class="btn btn-info pull-right" href="#/event/modify/{{id}}" >Promeni Event</a>
			<a class="btn btn-danger" ng-if="event.is_holder" ng-click="deleteEvent()">{{deleteEventButton}}</a>
			<br>
		</div>
		<div class="col-md-2">
			<h4>Predavači na času:</h4>
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="holder in event.holders"><a href="#/user/{{holder.user_id}}"> {{holder.Name}} {{holder.Surname}} </a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<br><br>
			<table ng-if="event.materials.length > 0"><tr><th>Materijali</th></tr>
				<tr ng-repeat="material in event.materials">
					<td><a href="#/materials/material_data/{{material.idMaterial}}"> {{material.Name}} </a> </td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--

<a class="btn btn-info btn-large" href="#/event/modify/{{id}}" >Promeni Event</a>
<!--ng-if="is_holder == 1"-->
<!--
<br/>
Ime: {{event.Name}}
<br/>
Opis:    {{event.Description}}
<br/>
Mesto: {{event.Venue}}
<br/>
Datum: {{event.Date}}
<br/>
Vreme: {{event.Time}}
<br/>
<button ng-if="event.is_holder" ng-click="deleteEvent()">{{deleteEventButton}}</button><br/>
Event Holderi:
<br/>
<ul>
    <li ng-repeat="holder in event.holders"><a href="#/user/{{holder.user_id}}"> {{holder.Name}} {{holder.Surname}} </a></li>
</ul>
<br/>
Roditelji event-a:
<ul>
    <li ng-repeat="parent in event.parents"><a href="#/activity/{{parent.idActivity}}"> {{parent.Name}} </a></li>
</ul>
<br/>
Materijali
        <ul>
            <li ng-repeat="material in event.materials"><a href="#/material/{{material.idMaterial}}"> {{material.Name}} </a> </li>
        </ul>

        -->