<!--
{{message}}
Path:
<a ng-repeat="location in material.path" href="#/material/{{location.id}}"> {{location.Name}} / </a>
<br/>
Name: {{material.name}}
<br/>
URI: {{material.URI}}
<br/>
Type: {{material.Type}}
<br/>
Date: {{material.date}}
<br/>
<br/>
Owner : <input type="text" name="Material Owner " ng-model="materialOwner" required />
<a  href="#/material/new/{{material.id}}"> Add Material.  </a>
<br/>
<a href="#/material/modify/{{material.id}}"> Modify Material. </a>
<br/>
<button ng-click="deletematerial()"> Remove Material. </button>
<br/>

-->

<div class="container" >


    <div class="row" >

        

        <!--CONTENT-->
        <div class="col-md-10" role="main" style="top: 75px;">
            <!--path-->
            <div class="row">
                <ol class="breadcrumb">
                    <li ng-repeat="location in material.path"><a href="#/material/{{material.idMaterial}}">{{location.Name}}</a></li>
                </ol>
            </div>


            <div class="row">
                <div class="jumbotron">

                    Name:<h1>{{material.name}}</h1>
                   
                       URI:  <p> {{material.URI}} </p>
						Type:<p> {{material.Type}} </p>
                   
                    <p>Date: {{material.date}}</p>
					<p>Owner: {{user.Name}} + {{user.Surname}}</p>
					<p>{{user.userName}}</p>
                    <p>
                       <!-- <a class="btn btn-primary btn-large" ng-click="enroll()">{{enrollButtonName}} </a>-->
                        <a class="btn btn-success btn-large" href="#/material/new/{{material.id}}" ng-if="is_holder == 1">Add New Material</a>
						<a class="btn btn-info btn-large" href="#/material/modify/{{material.id}}" ng-if="is_holder == 1">Modify Material</a> 
						<a class="btn btn-danger btn-large" ng-click="deleteActivity()" ng-if="is_holder == 1">Remove Material</a> 

                    </p>
                </div>
            </div> 
					

           

        </div><!--content-->




    </div><!--row-->
</div><!--container-->