<div class="container" ng-if="globalUID == id  || canEdit == 1">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
<div  style="padding: 0px 50px;" class="js_user_logo_image_container">

            <img class="img-responsive img-circle js_user_logo_image" src="{{userdata.ProfilePicture}}" alt="Nema slike" >
            <br/>

        </div>
        </div>
        <div class="col-md-7 ">
            <div class="row">
                <legend>Izmena korisničkih podataka </legend>
                <a class="btn btn-primary" href="#/user/{{userdata.id}}">
                    <span class="glyphicon glyphicon-chevron-left"></span> 
                    Nazad
                </a>
                <button class="btn btn-success pull-right" ng-if="canEdit == 1" ng-click="editSettings()">
                    Sačuvaj
                    <span class="glyphicon glyphicon-ok"></span> 
                </button>

            </div>


            <div class="row">
                <br/>
                <form id="user_settings" role="form" class="form-group">
                    <div class="form-group col-md-6">
                        <label for="Name">Ime</label>
                        <input type="text" class="form-control" name="Name" ng-model="userdata.name"  required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Surname">Prezime</label>
                        <input type="text" class="form-control" name="Surname" ng-model="userdata.surname"  required />
                    </div>
                    <div class="form-group">
                        <label for="Mail">email</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>

                            <input type="email" class="form-control" name="Mail" ng-model="userdata.Mail"  required />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="School">Škola</label>
                        <input type="text" class="form-control" name="School" ng-model="userdata.School"  required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Proffession">Profesija</label>
                        <input type="text" class="form-control" name="Proffession" ng-model="userdata.Proffession"  required />
                    </div>
                    <div class="form-group ">
                        <label for="www">Web sajt</label>
                        <input type="text" class="form-control" name="www" ng-model="userdata.www"  required />
                    </div>                     
                    <div class="form-group ">
                        <label for="www">Promeni sliku</label>
                        <input class="btn btn-primary" type="file" name="file" id="file_upload_input" data-id="{{userdata.id}}"/>
                    </div>                     

       
        <!--
            <label>Korisničko ime: </label><input type="text" name="username" value="{{userdata.username}}" />
        -->
                </form>



            </div>

</div>
</div>
</div>


<!--

<h1>Hello user!</h1>
<div></div>
<div ng-if="globalUID == id" >
    <h1> Ovo JESAM ja! xD</h1>
</div>
<div ng-if="globalUID != id" >
    <h1> Ovo NISAM ja! xD</h1>
</div>
<div ng-if="globalAccType == 99" >
    <h1> Ja sam svemocni admin</h1>
</div>
<script type="text/javascript">
    console.log(globalAccType);
</script>

<form id="user_settings">
    <ul ng-if="canEdit == 1">
        <li>
            <label>Ime:</label> <input type="text" name="Name" value="{{userdata.name}}" />
        </li>
        <li>
            <label>Prezime: </label><input type="text" name="Surname" value="{{userdata.surname}}" />
        </li>
        <li>
            <label>Korisničko ime: </label><input type="text" name="username" value="{{userdata.username}}" />
        </li>
        <li>
            <label>email: </label><input type="text" name="Mail" value="{{userdata.Mail}}" />
        </li>
        <li>
            <label>Škola: </label><input type="text" name="School" value="{{userdata.School}}" />
        </li>
        <li>
            <label>Profesija ime: </label><input type="text" name="Proffession" value="{{userdata.Proffession}}" />
        </li>
        <li>
            <label>websajt: </label><input type="text" name="www" value="{{userdata.www}}" />
        </li>
        <li>
            <img src="{{user.ProfilePicture}}" alt="nema slike"/>
        </li>
        <li>
            <input type="file" name="ProfilePicture"/>
        </li>
    </ul>
</form>
<button ng-if="canEdit == 1" ng-click="editSettings()">Save settings</button>

-->