<h1>Hello user!</h1>
<div></div>
<div ng-if="globalUID == id" >
    <h1> Ovo JESAM ja! xD</h1>
</div>
<div ng-if="globalUID != id" >
    <h1> Ovo NISAM ja! xD</h1>
</div>


<br/>
Ime: {{userdata.name}}
<br/>
Prezime: {{userdata.surname}}
<br/>
Korisničko ime: {{userdata.username}}
<br/>
Ime: {{userdata.Mail}}
<br/>
Prezime: {{userdata.School}}
<br/>
Korisničko ime: {{userdata.Proffession}}
<br/>
Korisničko ime: {{userdata.www}}
<br/>
<img src="{{user.ProfilePicture}}" alt="nema slike"/>

<p ng-if="showString == 1">{{activity.participants}} </p>

